@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Shantell Sans', cursive;
}

.content {
    margin-top: 25%;
    color: white;
    text-shadow: 1px 1px white; 
}